*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Button and input style reset */
button,
input {
	background: none;
	outline: none;
	border: none;
}

:root {
	--bg-color: #202020;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: var(--bg-color);
	color: white;
}

.redBody{
	background-color: rgba(255, 0, 0, 0.43);
}

.blueBody{
	background-color: rgba(0, 0, 255, 0.542);
}

.greenBody{
	background-color: rgba(0, 128, 0, 0.587);
}

header {
	height: 200px;
	background-color: #dcdcdc;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 5rem;
	color: var(--bg-color);
}
nav {
	display: flex;
	justify-content: center;
	gap: 1rem;
	border: solid gainsboro 2px;

	button {
		font-size: large;
		color: gainsboro;
	}
}
footer {
	background-color: #dcdcdc;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	color: #202020;
}

.btn {
	cursor: pointer;
}

.hidden {
	display: none !important;
}

.info-btns {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin: 2rem;
}

.info-btn {
	padding: 1rem 2rem;
	border: 1px solid gainsboro;
	border-radius: 1rem;
	width: 15rem;
	text-align: center;
	font-size: xx-large;
	font-weight: 500;

	&[data-selected="true"] {
		box-shadow: 0 0 10px white;
	}
}

.info {
	max-width: 48rem;
	margin-inline: auto;
	border: 1px solid gainsboro;
	padding: 2rem;
	border-radius: 0.25rem;
}

.info-form {
	display: flex;
	justify-content: center;
	gap: 2rem;

	margin-top: 2rem;

	input {
		padding: 1rem 2rem;
		font-size: large;
		background-color: white;
	}
	button {
		font-size: large;
		color: white;
		padding: 1rem 2rem;
		text-transform: uppercase;
		font-weight: 700;
		border: 1px solid gainsboro;
	}
}
