* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(187, 73%, 64%);
	font-family: sans-serif;
	padding-inline: 1rem;
}

h1,
h2 {
	text-align: center;
	margin: 1rem;
}

.info > ::marker {
	content: "🧙‍♂️";
}

.info {
	background-color: white;
	width: max-content;
	padding: 1rem;
	padding-left: 2rem;
	border-radius: 0.5rem;
	border: 1px solid;
	margin-top: 1rem;
	/* list-style-type: none; */
}

@keyframes gradientMotion {
	from {
		background-position-x: -100%;
	}

	to {
		background-position-x: 100%;
	}
}

#thomas-p {
	padding: 12px;
	margin-block: 16px;
	text-transform: uppercase;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	width: 48rem;
	margin-inline: auto;
	font-weight: 100;
	font-size: larger;
	text-align: center;
	border-radius: 42px;
	overflow: hidden;
	color: white;
	text-shadow: 2px 2px 5px black;
	box-shadow: 0px 5px 20px -8px black;
	background-image: linear-gradient(
		45deg,
		red,
		orange,
		yellow,
		green,
		blue,
		indigo,
		violet,
		red
	);
	background-size: 200%;
	animation: 10s linear infinite forwards gradientMotion;
}

#RemyD {
	background-color: antiquewhite;
	border: solid black;
	border-radius: 12px;
	width: 370px;
	margin-top: 10px;
	padding: 10px;
	padding: 10px;
	text-align: center;
}

.mom {
	color: #c6bcbc;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 10cm;
	height: 1.5cm;
	border-radius: 23px;
	background-color: red;
	position: relative;
	font-size: larger;
	text-align: center;
	animation-name: momation;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.andreas {
	background-color: #84a987;
	border-radius: 8px;
	padding: 20px;
	width: 650px;
	font-family: Courier, monospace;
	font-size: larger;
	text-align: center;
	font-weight: bold;
	margin-bottom: 8px;
}

@keyframes momation {
	0% {
		background-color: rgb(0, 0, 0);
		left: 0px;
		top: 0px;
		color: darkcyan;
	}

	50% {
		background-color: rgb(255, 255, 255);
		left: 400px;
	}

	100% {
		background-color: rgb(0, 0, 0);
		left: 0px;
		top: 0px;
		color: lightblue;
	}
}

button,
input,
select {
	font-size: large;
	padding-inline: 0.5rem;
	padding-block: 0.25rem;
	margin: 0.125rem;
	border-radius: 0.5rem;
	border: 1px solid;
}
